.container-fluid{
  background-color:#F2F2F2;
}


label {
  display: block;
  margin-top: 10px;
}

#cajaLogin{
background-color: #262626;
color: white;
}

#fondo{
  background-image: url(../../assets/imagen_landing_ej2021.jpg);
  height: 88vh;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.btn {
  margin-top: 1em;
  background: #4EC3C7;
  border-radius: 4px;

  color: #ffffff;
 font-size: 16px;
 font-family: "Rubik-Bold";
  padding: 10px 40px;
 
 
}


input[type=text]{
  border-radius: 4px;
  

}

input[type=password]{
  border-radius: 4px;



}

h1{
 color: #4EC3C7;
 padding-top: 25vh;
 font-family: 'Rubik-Bold';
 font-size: 38pt;
 padding-left: 10vw;
 padding-right: 5vw;
 
 
 
}

h2{
  color: rgb(0, 0, 0);
  padding-top: 10vh;
  font-family:  'openSans-condensed-lightItalic';
  font-size: 30pt;
  padding-left: 10vw;
  padding-right: 5vw;

 }


 #logo{
   margin-bottom: 1cm;
   width: 70%;
 }

 
#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;

}

#boxWelcome{
  background-color: #4EC3C7;
  width: 100%;
}