

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>ADMIN PANEL</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Escritores Jovenes</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">DashBoard</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                   <a >     <button class="btn" (click)=navegador(0)>General</button>  </a>
                
                       
                    </li>
   
                </ul>
            </li>
      
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestionar</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a >     <button class="btn" (click)=navegador(1)>Usuarios</button>  </a>
                    </li>
                    <li>
                        <a >     <button class="btn" (click)=navegador(2)>Participaciones</button>  </a>
                    </li>
                    <li>
                        <a >     <button class="btn" (click)=navegador(3)>Concursos</button>  </a>
                    </li>
                    <li>
                        <a >     <button class="btn" (click)=navegador(4)>Votos</button>  </a>
                    </li>
                    <li>
                        <a >     <button class="btn" (click)=navegador(5)>Noticias</button>  </a>
                    </li>
                </ul>
            </li>
      
        </ul>
    </nav>
      

