<footer>
<div class="bottom section-padding">
    <div class="container">
        <div class="row">
        
         <div class="col-sm-2 ">

            <div id="wrapper"> 
                <div> <img src="../../../assets/version_con_borde.png" id="logoFooter" alt=""></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;     <div class="vl">   </div>
            </div>

        
          
         </div>
     


      
         <div class="col col-sm-4 ">
             <br>
         <img src="../../../assets/yourlogo.png" height="100px" style="filter: grayscale(0.8);" alt="">&nbsp;&nbsp;
         <img src="../../../assets/yourlogo.png" height="100px" style="filter: grayscale(0.8);" alt="">

         </div>
<div class="col col-sm-2">

</div>

         <div class="col col-sm-2 ">
            
            <div id="textoFooter">
                <br>
              <a  href data-toggle="modal" data-target="#contacto">Contacto</a>     <br> <br>

      
      <div class="modal fade" id="contacto" tabindex="-1" role="dialog" aria-labelledby="contacto" aria-hidden="true">
     <app-contacto></app-contacto>
      </div>


               <a href="">Bases y Condiciones  </a>    <br>

            </div>
    

         </div>

        </div>
    </div>
</div>
</footer>